<div class="folder" data-folder-id="{{folderId}}">
  <h2 class="folder-title">
    <a href="#{{path}}">{{title}}</a>
  </h2>
  <ul>
  {{#each children}}
    {{renderChild this}}
  {{/each}}
  </ul>
</div>
