<!DOCTYPE html>
<html>

  <head>
    <title>Your Bookmarks</title>
    <meta charset="utf-8">
    <style>
      {{{css}}}
    </style>
  </head>

  <body>
    <a href="#" id="open-all-link">Open All</a> | <a href="#" id="close-all-link">Close All</a>
    {{> folder content}}
    <script>
      {{{js}}}
    </script>
  </body>

</html>
