<!DOCTYPE html>
<html>

  <head>
    <title>Your Bookmarks</title>
    <meta charset="utf-8">
    <style>
      {{{css}}}
    </style>
  </head>

  <body>
    {{> folder content}}
    <script>
      {{{js}}}
    </script>
  </body>

</html>
